*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body{
    display: grid;
    grid-template-rows: auto 660px auto;
    width: 100%;
    min-height: 100vh;
    background: #ffffff
   
}

/* Encabezado */

header{
    width: 100%;
    height: 85px;
    background: #FFFFFF;
    
}

.encabezado{
    background: #0077ff63;;
}
.contenedor-logoencabezado{
    width: 10%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    
}

.logo-encabezado{
    width: 2.5em;
    padding-top: 10px;   

}

.contenedor-tituloencabezado{
    width: 80%;
    display: inline-block;
    text-align: center;
    
}
.h1-tituloppal{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    display: inline-block;
    margin-top: 0.4em;
    text-decoration: underline;
   
}



/* Cuerpo de la pagina */
    main{
        width: 80vw;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        border: 5px solid black;
        border-radius: 15px;
        margin: 0 auto;
        
        
       
    }

    section{
        width: 40%;
        height: 100%;
        
    }

    /* Seccion parte izquierda del main  */

    .seccion-texto{
        width: 100%;
        height: 100%;
        grid-column: 1/3;
    }

    .texto-encriptar{
        width: 80%;
        height: 70%;
        display: block;
        margin: auto;
        margin-top: 40px;
        resize: none;
        font-size: 20px;
        border: 2px solid black;
        border-radius: 5px;
    }

    .contenedor-advertencia{
        display: inline-block;
        width: 40%;
        text-align: center;
        margin-top: 15px;
        margin-left: 50px;
    }

    #imagen-adv{
        display: inline-block;
        vertical-align: top;

    }

    .h5-adv{
        display: inline-block;
    }

    .contenedor-botones{
        text-align: center;
        margin-top: 35px;
        width: 100%;
        
    }

     .btn-encriptar, .btn-desencriptar{
         width: 30%;
         height: 40px;
         border-radius: 10px;
         text-align: center;
         background-color: #0A3871;
         font-weight: bold;
         font-size: 20px;
         color: #ffffff;
         box-shadow: 5px 6px 10px #0a3871;
                   
    }

    .btn-encriptar{
        margin-right: 50px;
    }

    .btn-encriptar:hover{
        cursor: pointer;
        background-color: #007bc2;
        text-decoration: underline;
    }

    
    
    .btn-desencriptar:hover{
        cursor: pointer;
        background-color: #007bc2;
        text-decoration: underline;
    }

    /* Seccion panel derecho */
    
    .seccion-paneldcho{
        grid-column: 3/4;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        margin: 0 auto;
        box-sizing: border-box;
        overflow: hidden;
        background-color: rgba(0, 119, 255, 39%);
    
    }
    .divpaneldcho{
        margin: o auto;
        width: 100%;
        height: 100%;
    }

    .contenedor-muneco{
        margin: 10px auto;
        margin-top: 60px;
        width: 85%;
        height: 45%;
        box-sizing: border-box;
        overflow: hidden;
        

    }
    #imagen-muneco{
        display: inline-block;
        width: 85%;
        margin: 35px;
    }

    .contenedor-titulo-area{
        width: 98%;
        height: 5%;
        text-align: center;
        display: inline-block;
        margin: 50px auto;
    }

    .h3-areacifrado{
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        font-size: 25px;
        text-align: center;
    }

    .contenedor-areatexto{
        width: 98%;
        height: 35%;
        text-align: center;
        margin: 0 auto;
        padding: 6px 2px;
        padding-top: 6px;
     
    }
    
    .mensaje-encriptado{
        display: inline-block;
        width: 90%;
        height: 80%;
        margin: 0 auto;
        font-size: 18px;
        
    }


    .btn-copiar{
        width: 70%;
        height: 40px;
        border-radius: 10px;
        text-align: center;
        background-color: lightgray;
        font-weight: bold;
        font-size: 20px;
        background-color: #0A3871;
        color: #ffffff;
        box-shadow: 5px 6px 10px #0a3871;
    }
    
    .btn-copiar:hover{
        cursor: pointer;
        background-color: #007bc2;
        text-decoration: underline;
    }

    /* Contenedor del panel derecho resultado */

    .divpaneldchoresultado{
        display: none;
        width: 100%;
        height: 100%;
    }

     .contenedor-resultado{
        width: 100%;
        height: 50%;
        text-align: center;
        margin-top: 50px;

    }
    .h3-resultado{
        width: 100%;
        height: 30px;
        display: inline-block;
        margin: 5px auto;
        padding: 6px 3px;
        font-size: 20px;
        text-decoration: underline;
        font-weight: bold;
    }

   
    .areatextoencriptado{
        width: 80%;
        height: 400px;
        margin: 10px auto;
        padding: 10px 4px;
        
    }

    .contenedor-btncopiar2 {
        width: 100%;
        height: 40px;
        margin-top: 201px;
        text-align: center;
    }

    /* Pie de pagina con Logo y Copyright */
    footer{
        width: 100%;
        height: 120px;
        background-color: #0077ff63;
        text-align: center;
        border-radius: 5px;
        
        
    }

    .logo-footer{
        margin: 15px auto;
        display: block;
        
    }

    .copyright{
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        margin-top: 7px;
        
    }

    #logo-linkedin, #logo-github{
        display: inline-block;
        margin: 0 5px;
        transition: 0.7s;
    }
    
    #logo-github:hover{
        transform: scale(1.5);
        
        
    }
    
    #logo-linkedin:hover{
        transform: scale(1.5);
        
        
    }
    

    @media screen and (max-width: 1200px){
        main{
            width: 100%;
            border-left: none;
            border-right: none;
            border-radius: 0;

        }
        
        footer{
            width: 100%;
        }
    }

    @media screen and (max-width: 950px) {
        body{
            
           grid-template-areas: "Header"
                                "Main"
                                "Main"
                                "Footer";
            
            grid-template-rows: auto 660px auto;
            gap: 0;

        }


        header{
            grid-area: Header;
            height: 80px;
            border-bottom: 5px solid black;
            
        }
        .encabezado{
            background-color: #4495ca;
            
        }
        

        .h1-tituloppal{
            font-size: 2em;
            text-align: center;
            margin: 25px auto;
            color: #ffffff;
        }

        main{
            grid-area: Main;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 650px;
            border: none;
            border-bottom: 5px solid black;
            border-radius: 0px;
            
        }

        .seccion-texto{
            height: 450px;
            margin: 0 auto;
            padding: 0;
        
        }

        .texto-encriptar{
            width: 80%;
            height: 220px;
        }

        .contenedor-advertencia{
            display: inline-block;
            width: 60%;

        }

        .h5-adv{
            width: 100%;
            margin-left: 6%;
            text-align: left;
        }
        
        .contenedor-botones{
            margin: 50px auto;
        }

        .btn-encriptar, .btn-desencriptar{
            width: 170px;
        }

        .seccion-paneldcho{
            height: 200px;
            border-radius: 0;
            background-color: #FFFFFF;
            
        }

        .contenedor-muneco{
            display: none;

        }

        .divpaneldchoresultado{
            height: 200px;
            
        }
        .contenedor-resultado{
            display: inline-block;
            text-align: center;
            margin: 0;
        }

        .h3-resultado{
            font-size: 16px;
            text-align: center;
        }
        .areatextoencriptado{
            width: 65%;
            height: 70px;
            margin: 0;
            padding: 0;
            font-size: 22px;
            font-weight: bold;
            
        }

        .contenedor-btncopiar2{
            display: inline-block;
            margin: 15px auto;
            
        }

        .btn-copiar{
            width : 170px;
        }
  
        footer{
            grid-area: Footer;
            width: 100%;
            background-color: #4495ca;
            height: 150px;
            color: #FFFFFF;
        }
    
    }
    
    
    @media screen and (max-width: 640px) {
        body{
           grid-template-areas: "Header"
                                "Main"
                                "Main"
                                "Footer";
           gap: 0.1em;
        }
        header{
            grid-area: Header;
            height: 50px;

        }
        .encabezado{
            background-color: #4495ca;
            
        }

        .logo-encabezado{
            width: 30px;
            height: 90%;
            margin-left: 15px;
            padding-bottom: 3px;
        }

        
        .h1-tituloppal{
            font-size: 15px;
            color: #ffffff;
            margin: 15px auto;

        }

        main{
            grid-area: Main;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 660px;
            margin: 0 auto;
        }

        .seccion-texto{
            height: 470px;
        }

        .contenedor-area-adv{
            margin-top: 5px auto;
        }


        .contenedor-botones{
            display: flex;
            height: 160px;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
            margin: 0 auto;
            margin-top: 15px;

        }

        .btn-encriptar{
            margin: 20px auto;
            margin-top: ;
            width: 170px;

        }

        .btn-desencriptar{
            margin: 20px auto;
            width: 170px;

        }

        .seccion-paneldcho{
            height: 180px;
            margin: 0 auto;
        }

        .contenedor-resultado{
            display: inline-block;
            text-align: center;
            margin: 0;
        }

        .h3-resultado{
            font-size: 16px;
            text-align: center;
        }
        .areatextoencriptado{
            width: 65%;
            height: 70px;
            margin: 0;
            padding: 0;
            font-size: 12px;
            font-weight: bold;
            
        }

        .contenedor-btncopiar2{
            display: inline-block;
            margin: 15px auto;
            
        }

        .btn-copiar{
            width : 170px;
        }



        footer{
            grid-area: Footer;

        }

        .copyright{
            font-size: 10px;
        }
    
    }
    